html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.black-bold {
  color: #000000;
  font-weight: 700;
}

.entire-app {
  background: url(https://cdn.pixabay.com/photo/2016/12/15/20/28/classroom-1910012_960_720.jpg);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 25000px rgba(209, 209, 209, 0.877);
}

strong {
  font-weight: 800;
}

.team-desc {
  font-weight: 500;
}

.main-color {
  color: #8c00ff;
}

.btn-color {
  background-color: #8c00ff;
  color: #fff;
}

.cta-color {
  background-color: #8c00ff;
  color: #fff;
}

.btn-color:hover {
  background-color: #ffffff;
  border: 1px solid #8c00ff;
  color: #8c00ff;
}

.progress {
  height: 5px;
}

.progress-bar {
  width: 100%;
}

.links-tab {
  font-size: 30px;
}

.portfolio {
  margin-top: 100px;
}

.cta {
  margin-top: 100px;
}

.contact {
  margin-top: 100px;
}
